@{
    ViewBag.Title = "Home Page";
}

<base href="/" />
<div class="row">
    <my-app><i class="fa fa-spinner fa-spin"></i>Loading...</my-app>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_AngularScriptsPartial"); }
    <script src="~/lib/gmaps/gmaps.min.js"></script>
    <script src="~/lib/travelmap/travelmap.min.js"></script>
    <script>
        System.config({
            packages: {
                "../app": {
                    format: 'register',
                    defaultExtension: 'js'
                }
            }
        });
        System.import('../app/main')
                .then(null, console.error.bind(console));
    </script>
}

