@model List<TheWorld.Models.Trip>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <trip-app class="col-md-6 col-md-offset-3">Loading...</trip-app>

    <div class="col-md-6">
        <h1>The World</h1>
        <p>This will be a fun website soon!</p>

        <form>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control"/>
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control"/>
            </div>
            <div>
                <input type="submit" value="Add" class="btn btn-success"/>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <h2>The Map</h2>

        <ul>
            @foreach (var trip in Model)
            {
                <li>@trip.Name (@trip.Created.ToString("d"))</li>
            }
        </ul>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_AngularScriptsPartial"); }
    <script>
        System.config({
            packages: {
                "../app": {
                    format: 'register',
                    defaultExtension: 'js'
                }
            }
        });
        System.import('../app/main')
                .then(null, console.error.bind(console));
    </script>
}

