@using System.Collections.Generic
@using System.Threading.Tasks
@model List<TheWorld.Models.Trip>
@{
    ViewBag.Title = "Home Page";
}

<base href="/" />
<div class="row">
    <trip-app class="col-md-6 col-md-offset-3"><i class="fa fa-spinner fa-spin"></i>Loading...</trip-app>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_AngularScriptsPartial"); }
    <script>
        System.config({
            packages: {
                "../app": {
                    format: 'register',
                    defaultExtension: 'js'
                }
            }
        });
        System.import('../app/main')
                .then(null, console.error.bind(console));
    </script>
}

