<div>
    <div><a class="btn btn-sm btn-default" [routerLink]="['/TripsList']"><i class="fa fa-angle-left"> Back</i></a>
    </div>
    <div class="col-md-3">
        <h2>{{ tripName }}</h2>
        <wait-cursor *ngIf="isBusy"> Loading...</wait-cursor>
        <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>

        <table class="table table-responsive table-striped">
            <tr>
                <th>Location</th>
                <th>Arrival</th>
            </tr>
            <tr *ngFor="#stop of stops">
                <td>{{ stop.name }}</td>
                <td>{{ stop.arrival | datePipe }}</td>
            </tr>
        </table>

        <stop-form (onSubmit)="onSubmit($event)"></stop-form>
    </div>

    <div class="col-md-9">
        <h2>The Map</h2>
        <div id="map"></div>
    </div>
</div>